<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>

<body>
    <header>
        <nav>
            <lu><a href="/">Home</a></lu>
            <lu><a href="/beers">Beers</a></lu>
            <lu><a href="/views/random-beer">Random Beer</a> </lu>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>